# Byte-compiled / cache
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/

# Pycharm project files
.idea/

# Streamlit cache
.streamlit/

# Local Database + CSV data
DATA/*.db
DATA/*.csv
DATA/users.txt

# OS system files
.DS_Store
Thumbs.db